/*
* Sidebar / header layout
*/

:root {
  --sidebar-threshold: 20rem;
}

body > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

/* Header */
header {
  flex-basis: var(--sidebar-threshold);
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

header > * {
  padding-inline: var(--space-xs);
}

header h1, header nav a {
  white-space: nowrap;
  text-wrap: nowrap;
}

.nav-type {
  flex-grow: 1;
}

header nav {
  margin-top: 0.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-xs);
}

header nav > * {
  flex-grow: 1;
  flex-basis: calc((var(--sidebar-threshold) - 100%) * 999);
}

/* Content */
main {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 65%;
}

main > article {
  max-width: 60ch;
  margin-inline: auto;
}

/* scale material icons */
.material-icons {
  font-size: inherit !important;
  letter-spacing: inherit !important;
  line-height: inherit !important;
  position: relative;
  top: 0.15em;
  margin-right: 0.2em;
}

/* Resume */

ul {
  padding-inline-start: 1.5rem;
}

.resume-toc {
  --flow-space: 0.25em;
}
