#site-nav>a {
  display: none;
}
h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
}
body  {
  font-family: 'Source Serif Pro', serif;
  color: black;
}
section > nav {
  display: none;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font=size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
span.timeline, span.timeline > span, a.timeline, a.timeline > span {
  margin: 0 2px;
}
details {
  margin: 2px;
}
i.material-icons {
  position: relative;
  top: 4px;
  left: -2px;
}
#toggle-btn {
  display: none;
}
summary > b {
  display: none;
}
