/* Site-wide */
html, body {
  display: flex;
  flex-direction: column;
  font-family: 'Fenix', serif;
  color: black;
  background-color: #D4DCE7;
  margin:0;
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
body {
  font-size: 1.25em;
}
i.material-icons {
  position:relative;
  top:2px;
}
@media (max-width: 320px) { 
  h1 {
    font-size: 1.25em;
  }
  h2 {
    font-size: 1em;
  }
  body {
    font-size: 0.8em;
  }
  i.material-icons {
    font-size:18px;
    top:4px;
  }
}
@media (min-width: 320px) and (max-width: 600px) { 
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  body {
    font-size: 1em;
  }
  i.material-icons {
    font-size:20px;
  }
}

@media (min-width: 800px) { 
  body {
    margin: 0 auto;
    width: 750px;
  }
}

a {
  /*transition*/
  transition: all 0.2s ease;
  color:#5A4815; /* it's my hair colour in my avatar, teehee */
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

/* Layout */
section, header, nav, div {
  display: flex;
  flex-direction: column;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

/* Header/Navigation */ 
header {
  flex-direction: row;
}
nav a {
  flex-wrap: wrap;
}
#site-nav a {
  font-size:1.25em;
}
#site-nav i {
  position:relative;
  top:6px;
  margin-right:2px;
}
#social-nav {
  padding:0 10px 0 6px;
}
#social-nav a {
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  background-size:contain;
  margin: 0 auto;
}

a#github-icon {
  width:26px;
  height:26px;
  background-image: url(/img/github_32.png);
  margin-top:2px;
  margin-left:0;
}
a#twitter-icon {
  width:32px;
  height:32px;
  background-image: url(/img/twitter-icon.png);
  margin-right:0;
}
a#flickr-icon {
  width:25px;
  height:25px;
  background-image: url(/img/flickr-icon.png);
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  margin-top:2px;
}
a#linkedin-icon {
  width:28px;
  height:28px;
  background-image: url(/img/linkedin-icon.png);
  background-position:0px 0px;
  background-size:37px 28px;
}

/*
 * major props to @classam and cube-drone.com creator for my wonderful avatar.
 * fanks budday 
 */
header a.avatar {
  background-image: url(/img/me/fil.png);
  width:136px;
  height:136px;
}
header a.name {
  font-size:2.5em;
}

/* Content */
section {
  flex-wrap: wrap;
  padding: 5px;
}
section p {
  margin:0.25em;
}
section h1 {
  margin:5px;
}
section h2 {
  margin: 0 10px;
}
section h1 i {
  position:relative;
  top:2px;
}
/* Resume */
#resume-timeline {
  flex-direction:column-reverse;
}
.bar-track, .bar-fill {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
.bar-track {
  height:25px;
  background: #FBF4E3;
  color:#FBF4E3;
  margin: 1px 5px;
}
.bar-fill {
  width:0%;
  height:25px;
  text-align:center;
  background: #515C6B;
}
#toggle-btn {
  align-self:flex-end; 
  position:relative;
  top:10px;
}
