/* Site-wide */
html, body {
  display: flex;
  flex-direction: column;
  font-family: 'Source Serif Pro', serif;
  color: rgba(0, 0, 0, 0.8);
  background-color: #FBF5F0;
  margin: 0 auto;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.75em;
  line-height: 1.25em;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
}
body {
  font-size: 100%;
  line-height: 1.56em;
}
#site-nav a {
  font-size: 1.25em;
}
i.material-icons {
  position: relative;
  top: 3px;
}

a[href] {
  transition: all 0.2s ease;
  color: #E5625E;
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
  color: #890620;
}

/* Layout */
section, header, nav, div {
  display: flex;
  flex-direction: column;
}
summary {
  margin: 5px;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.timeline {
  display: flex;
  flex-direction: column-reverse;
}
span.timeline, a.timeline {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-right: 2px;
}
/* Horizontal row/row-reverse flex layout needs padding */
span.timeline > span, a.timeline > span {
  margin: 2px;
}

/* Header/Navigation */
header {
  flex-direction: row;
  margin: 0 auto;
}
nav a {
  flex-wrap: wrap;
}
#site-nav i {
  position: relative;
  top: 6px;
  margin-right: 2px;
}
#social-nav {
  padding: 0 10px 0 6px;
  justify-content: space-evenly;
}
#social-nav a {
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  background-size: contain;
}
a#github-icon {
  width: 26px;
  height: 26px;
  background-image: url(/img/github_32.png);
  margin-top: 2px;
  margin-left: 0;
}
a#twitter-icon {
  width: 32px;
  height: 32px;
  background-image: url(/img/twitter-icon.png);
  margin-right: 0;
}
a#linkedin-icon {
  width: 28px;
  height: 28px;
  background-image: url(/img/linkedin-icon.png);
  background-position: 0px 0px;
  background-size: 37px 28px;
}

/*
 * major props to @classam and cube-drone.com creator for my wonderful avatar.
 * fanks budday
 */
header a.avatar {
  background-image: url(/img/me/fil.png);
  width: 136px;
  height: 136px;
  margin-left: auto;
}
header h1 {
  font-size: 2.5em;
  margin: 0;
}

/* Content */
section {
  flex-wrap: wrap;
  padding: 5px;
  max-width: 750px;
}
section p {
  margin: 0.25em;
}
section h1 {
  margin: 5px;
}
section h2 {
  margin: 0 10px;
}
section h3 {
  margin: 0 15px;
}
section h1 i {
  position: relative;
  top: 2px;
}
/* Resume */
section nav ul {
  padding-inline-start: 20px;
}
#resume-timeline {
  flex-direction: column-reverse;
}
#toggle-btn {
  align-self: flex-end;
  position: sticky;
  top: 10px;
}
