img#avatar, nav {
  display: none;
}

* {
  max-width: fit-content !important;
}

:root {
  --flow-space: 0.45em;
  --color-light: white;
  --color-dark: black;
  --color-dark-accent: black;
  --color-primary: black;
}
ul {
  --flow-space: 0.2em;
  padding-left: 1em;
}
h2 span.material-icons {
  display: none;
}

.salt-n-pepper {
  display: none;
}
