<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <script type="text/javascript" async src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async src="/js/autotrack.filmaj.js"></script>
    <script type="text/javascript" async src="/js/analytics.js"></script>
    <!-- the following is brought to you by realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- and so ends realfavicongenerator.net's contributions. many thanks. -->
    <meta name="author" content="Fil Maj" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@filmaj" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="https://filmaj.ca/img/me/fil.png" />
    <meta name="twitter:image:alt" content="Fil's Avatar" />
    <link rel="stylesheet" href="../lib/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="../lib/reveal.js/css/theme/moon.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../lib/reveal.js/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '../lib/reveal.js/css/print/pdf.css' : '../lib/reveal.js/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
          {{ content }}
      </div>
    </div>
    <script src="../lib/reveal.js/lib/js/head.min.js"></script>
    <script src="../lib/reveal.js/js/reveal.js"></script>

    <script>
        // More info about config & dependencies:
        // - https://github.com/hakimel/reveal.js#configuration
        // - https://github.com/hakimel/reveal.js#dependencies
        Reveal.initialize({
            dependencies: [
                { src: '../lib/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                { src: '../lib/reveal.js/plugin/notes/notes.js', async: true },
                { src: '../lib/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }/*,
                { src: '../lib/reveal.js/socket.io/socket.io.js', async: true },
                { src: '../lib/reveal.js/plugin/notes/notes.js', async: true },
                { src: '../lib/reveal.js/plugin/notes-server/client.js', async: true }*/
            ]
        });
        Reveal.configure({ slideNumber: 'c/t' });
    </script>
    <script type="text/javascript">
      WebFontConfig = {
          google: { families: [ 'Source Sans Pro:Semi-Bold', 'Source Serif Pro:Regular', 'Material+Icons' ] }
      };
      (function() {
        var s = document.getElementsByTagName('script')[0];
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.type = 'text/javascript'; wf.async = 'true';
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </body>
</html>
